<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.itta.mapper.ItemMapper">
    <cache type="com.program.itta.common.cache.RedisCache"/>
    <resultMap id="BaseResultMap" type="com.program.itta.domain.entity.Item">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="action_scope" jdbcType="INTEGER" property="actionScope"/>
        <result column="mark_id" jdbcType="VARCHAR" property="markId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from item
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.program.itta.domain.entity.Item">
    insert into item (id, user_id, name, 
      action_scope, mark_id, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{actionScope,jdbcType=INTEGER}, #{markId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.program.itta.domain.entity.Item">
    update item
    set user_id = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      action_scope = #{actionScope,jdbcType=INTEGER},
      mark_id = #{markId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, name, action_scope, mark_id, create_time, update_time
    from item
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, name, action_scope, mark_id, create_time, update_time
    from item
  </select>
    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, name, action_scope, mark_id, create_time, update_time
    from item
    where leader_id = #{leaderId,jdbcType=INTEGER}
  </select>
    <select id="selectByMarkId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, user_id, name, action_scope, mark_id, create_time, update_time
    from item
    where mark_id = #{markId,jdbcType=VARCHAR}
  </select>
</mapper>