<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.itta.mapper.NewsMapper">
    <cache type="com.program.itta.common.cache.RedisCache"/>
    <resultMap id="BaseResultMap" type="com.program.itta.domain.entity.News">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sender_id" jdbcType="INTEGER" property="senderId"/>
        <result column="recipient_id" jdbcType="INTEGER" property="recipientId"/>
        <result column="is_user" jdbcType="BIT" property="whetherUser"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.program.itta.domain.entity.News">
    insert into news (id, sender_id, recipient_id, 
      is_user, content, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{senderId,jdbcType=INTEGER}, #{recipientId,jdbcType=INTEGER}, 
      #{whetherUser,jdbcType=BIT}, #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.program.itta.domain.entity.News">
        update news
        <trim prefix="set" suffixOverrides=",">
            <if test="senderId != null">sender_id = #{senderId,jdbcType=INTEGER},</if>
            <if test="recipientId != null">recipient_id = #{recipientId,jdbcType=INTEGER},</if>
            <if test="whetherUser != null">is_user = #{whetherUser,jdbcType=BIT},</if>
            <if test="content != null">content = #{content,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP}</if>
        </trim>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, sender_id, recipient_id, is_user, content, create_time, update_time
    from news
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, sender_id, recipient_id, is_user, content, create_time, update_time
    from news
  </select>
</mapper>