<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.itta.mapper.SuitPicMapper">
  <resultMap id="BaseResultMap" type="com.program.itta.domain.entity.SuitPic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="suit_id" jdbcType="INTEGER" property="suitId" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from suit_pic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.program.itta.domain.entity.SuitPic">
    insert into suit_pic (id, suit_id, picture_url, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{suitId,jdbcType=INTEGER}, #{pictureUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.program.itta.domain.entity.SuitPic">
    update suit_pic
    set suit_id = #{suitId,jdbcType=INTEGER},
      picture_url = #{pictureUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, suit_id, picture_url, create_time, update_time
    from suit_pic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, suit_id, picture_url, create_time, update_time
    from suit_pic
  </select>
</mapper>