<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.itta.mapper.TaskTagMapper">
<!--    <cache type="com.program.itta.common.cache.RedisCache"/>-->
    <resultMap id="BaseResultMap" type="com.program.itta.domain.entity.TaskTag">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="task_id" jdbcType="INTEGER" property="taskId"/>
        <result column="tag_id" jdbcType="INTEGER" property="tagId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.program.itta.domain.entity.TaskTag">
    insert into task_tag (id, task_id, tag_id, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.program.itta.domain.entity.TaskTag">
        update task_tag
        <trim prefix="set" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId,jdbcType=INTEGER},</if>
            <if test="tagId != null">tag_id = #{tagId,jdbcType=INTEGER},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP}</if>
        </trim>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, task_id, tag_id, create_time, update_time
    from task_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, task_id, tag_id, create_time, update_time
    from task_tag
  </select>
    <select id="selectByTaskTag" parameterType="com.program.itta.domain.entity.TaskTag" resultMap="BaseResultMap">
    select id, task_id, tag_id, create_time, update_time
    from task_tag
    where task_id = #{taskId,jdbcType=INTEGER} and tag_id = #{tagId,jdbcType=INTEGER}
  </select>
    <select id="selectByTaskId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, task_id, tag_id, create_time, update_time
    from task_tag
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
</mapper>