<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.itta.mapper.TimerMapper">
  <resultMap id="BaseResultMap" type="com.program.itta.domain.entity.Timer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="schedule_id" jdbcType="INTEGER" property="scheduleId" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="week" jdbcType="INTEGER" property="week" />
    <result column="day" jdbcType="INTEGER" property="day" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from timer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.program.itta.domain.entity.Timer">
    insert into timer (id, schedule_id, year, 
      month, week, day, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{scheduleId,jdbcType=INTEGER}, #{year,jdbcType=INTEGER}, 
      #{month,jdbcType=INTEGER}, #{week,jdbcType=INTEGER}, #{day,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.program.itta.domain.entity.Timer">
    update timer
    set schedule_id = #{scheduleId,jdbcType=INTEGER},
      year = #{year,jdbcType=INTEGER},
      month = #{month,jdbcType=INTEGER},
      week = #{week,jdbcType=INTEGER},
      day = #{day,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, schedule_id, year, month, week, day, create_time, update_time
    from timer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, schedule_id, year, month, week, day, create_time, update_time
    from timer
  </select>
</mapper>