<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.itta.mapper.UserItemMapper">
    <cache type="com.program.itta.common.cache.RedisCache"/>
    <resultMap id="BaseResultMap" type="com.program.itta.domain.entity.UserItem">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="item_id" jdbcType="INTEGER" property="itemId"/>
        <result column="is_leader" jdbcType="BIT" property="whetherLeader"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.program.itta.domain.entity.UserItem">
    insert into user_item (id, user_id, item_id, 
      is_leader, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, 
      #{whetherLeader,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.program.itta.domain.entity.UserItem">
        update user_item
        <trim prefix="set" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId,jdbcType=INTEGER},</if>
            <if test="itemId != null">item_id = #{itemId,jdbcType=INTEGER},</if>
            <if test="whetherLeader != null">is_leader = #{whetherLeader,jdbcType=BIT},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP}</if>
        </trim>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, item_id, is_leader, create_time, update_time
    from user_item
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, item_id, is_leader, create_time, update_time
    from user_item
  </select>
    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, item_id, is_leader, create_time, update_time
    from user_item
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
    <select id="selectByItemId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, item_id, is_leader, create_time, update_time
    from user_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
</mapper>